---
layout: default
title: Birth Science Ottawa - From Science to Support
---
<main id="main" class="site-main">

{% if page.url == "/" %}
<div class="hero inner">
  <p class="hero-text">{{ site.author.greetings }}</p>
</div>
{% endif %}

<body>

  <figure>
    <img src="assets/images/FrontPage.png" alt="A colourful home library.">
  </figure><br><br>

  <p style="text-align: center; font-style: italic; font-size: 20px">Reach out to schedule a <a href="https://birthscience.ca/contact"><b>Connection Call</b></a>, and learn how our personalized support can ease your transition into parenthood.</p>

  <p>At <b>Birth Science Ottawa</b>, we believe in the profound wisdom of your body and the power of evidence-based support. Our mission is to provide you with the knowledge, confidence, and compassionate care you deserve to navigate pregnancy, childbirth, and early parenthood with grace and assurance.</p>

  <p>Our approach is grounded in the latest scientific research and best practices. We ensure you have access to reliable, up-to-date information to make informed decisions about your birth experience. We trust in the natural physiology of birth and aim to support you in trusting your body’s innate abilities.</p>

  <p>Every family is unique, and so is every birth. Our doula services are tailored to meet your specific needs and preferences, providing you with continuous emotional and physical support. From prenatal visits to postpartum care, we are here to ensure you feel safe, supported, and empowered every step of the way.</p>
</body>



<!-- {% if page.url == "/" %} -->
<!-- Featured-->
<!-- <div id="featured-posts" class="featured-posts">
    {% for post in site.posts %}
    {% if post.featured == true %}
    {% include featuredbox.html %}
    {% endif %}
    {% endfor %}
</div>

{% endif%} -->

<!-- Posts Index -->
<!-- <div class="post-feed inner">
    {% if page.url == "/" %}
    <div class="post-feed-title">Latest Articles</div>
    {% endif %}
    <div class="post-feed inner-wide">
        {% for post in paginator.posts %}
            {% include postbox.html %}
        {% endfor %}
    </div>
</div> -->
<!-- Pagination-->
{% include pagination.html %}
{% if site.mailchimp_url %}
    {% include newsletter-box.html %}
{% endif %}
</main>
