// Fonts
$font-primary: 'Karla', sans-serif;
$font-secondary: 'Crimson Text', serif;

// Colors
$color-accent: #ffb901; // bright yellow
$gray-darkest: #002329; // teal black
$gray-dark: #002329; // teal black
$gray: #002329; // teal black
$gray-light: #f9f7f3; //white
$gray-lighter: #f9f7f3; //white
$yellow: #fffac4;
$header-colour: #0097b2; //teal

